<nav class="navbar">
    <div class="nav1">
        <div>Home</div>
        <div>News</div>
        <div>Curiosities</div>
        <div>Theories</div>
        <div>Top Ten</div>
        <div>Quizzes</div>
    </div>
    <div class="nav2">
        <div><i class="bi bi-facebook"></i></div>
        <div><i class="bi bi-search"></i></div>
        <div><i class="bi bi-person-circle"></i></div>
    </div>
</nav>