body {
    background-color: #808080;
}
.header {
    width: 1236px;
    height: 169px;
    background: #FFFFFF;
}
.navbar {
    width: 1236px;
    height: 80px;
    background: #0693E3;
}
.bottomHeader {
    width: 1236px;
    height: 153px;
    background: rgba(255, 255, 255, 0.42);
}